.col{
    flex-direction: column;
    align-items: center;
    gap: 64px;

}
.stepsWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.btn{
    background-color: #1E378A;
}
