
.about{
    padding-top: 40px;
    padding-bottom: 40px;
}

.white{
    background-color: white;
}
.about .texts{
    width: 42%;
    /* width: 600px; */
}
.texts p{
font-size: 16px;
line-height: 28px;
color: #9396A1;
}
