
.bgImage{
    content: "";
    background-image: url("../images/sample.jpg");
    height: 500px;
    width: 50%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.white{
    background-color: white;
}
.about .texts{
    width: 40%;
    /* width: 600px; */
}
.texts p{
font-size: 16px;
line-height: 28px;
color: #9396A1;
}