.blue{
    background-color: #EFF3FF;
    flex-direction: row-reverse;
    padding-top: 120px;
    padding-bottom: 120px;
}
.listWrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}